@import './mixins/breakpoints';

* {
  margin: 0;
  padding: 0;
}

#root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 100px auto 50px;
  position: relative;

  @include respond-to(sm) {
    max-width: 95%;
    font-size: 18px;
  }
  @include respond-to(md) {
    max-width: 85%;
    font-size: 20px;
  }
  @include respond-to(lg) {
    width: 550px;
    font-size: 22px;
  }
  @include respond-to(xl) {
    width: 550px;
    font-size: 24px;
  }
}
