.footer {
  display: flex;
  position: relative;
  padding: 9px 15px 11px 15px;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-top: 1px solid #e6e6e6;

  @include respond-to(sm) {
    flex-direction: column;
    height: fit-content;
    align-items: stretch;
  }

  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6,
      0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6,
      0 17px 2px -6px rgb(0 0 0 / 20%);
  }

  &__count {
    font-size: 14px;
    color: grey;

    @include respond-to(sm) {
      position: absolute;
      bottom: 10px;
    }
  }

  &__clear {
    font-size: 14px;
    position: relative;
    color: grey;
    cursor: pointer;

    @include respond-to(sm) {
      position: absolute;
      bottom: 10px;
      right: 15px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.filters {
  margin: 10px 0;
  flex: 1;
  text-align: center;
  position: relative;

  @include respond-to(sm) {
    margin: 5px 0 30px 0;
    display: flex;
  }

  &__button {
    background: white;
    color: grey;
    padding: 3px 7px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin: 0px 3px;
    border: 1px solid transparent;
    border-radius: 3px;

    @include respond-to(sm) {
      width: 100%;
    }

    &.active {
      border-color: rgba(175, 47, 47, 0.2);
    }
  }
}
